<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to EMI Calculator, {{ username }}!</h1>
    <div class="button-container">
        <button onclick="window.location.href='/emi_calculator'">Calculate EMI</button>
        <button onclick="window.location.href='/logout'">Logout</button>
    </div>
</body>
</html>
